.page-header
  %h1 Vote For your favourite hack

= form_for @vote do |form|
  - @hacks.sort_by{ rand }.each do |hack|
    .row
      .hack.well.span9
        .row
          .span1= form.radio_button :hack_id, hack.id
          .span4
            %h2
              = hack.name
              %small
                by
                = hack.authors
            = markdown hack.description
            = link_to('View', hack.url) if hack.url.present?
  = form.submit 'Place Vote', :class => 'btn-primary btn-large'